.b-header
{
    border-bottom: 1px solid #eee;
}


.b-header h1
{
    color: #555;

    font-family: Times, serif;

    font-size: 20px;

    font-weight: 400;

    margin: 0;

    padding: 10px;

    text-align: center;
}


.b-header a
{
    display: block;

    font-family: Helvetica, arial, freesans, clean, sans-serif;

    font-size: 14px;

    padding: 5px;

    position: absolute;

    right: 0;

    top: 0;
}

.b-header a:hover
{
    text-decoration: underline;
}
